@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
body {
  font-family: "Montserrat", sans-serif;
}

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}
.shadow-blue {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
  z-index: 1;
}



@keyframes blur {
  to {
    
    backdrop-filter: blur(12px);
  }
}

html{
  scroll-behavior: smooth;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}