@tailwind base;
@tailwind components;
@tailwind utilities;

#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}


@keyframes blur {
  to {
    
    backdrop-filter: blur(12px);
  }
}

html{
  scroll-behavior: smooth;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}